@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Knewave&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&display=swap');



body {
    min-width: 100vw;
    min-height: 100vh;
}

main {
    min-height: 80vh;
}

header {
    text-align: center;
    margin-top: 40px;
}

.Flexbox {
    font-family: Knewave;
    font-size: 500%;
    color: #4A314D;
}

.and {
    font-family: Noto Sans;
    font-size: 300%;
    color: #95C623;
    padding: 15px;
}

.Forms {
    font-family: Courier Prime;
    font-size: 500%;
    color: #0E4749;
}

.container {
    display: flex;
    gap: 30px;
    justify-content: center;
    margin: 50px;
    padding: 20px;
}

.box {
    width: 100px;
    height: 100px;
}

.box1 {
    background-color: #0E4749;
}

.box2 {
    background-color: #95C623;
}

.box3 {
    background-color: #4A314D;
}

a:link {
    text-decoration: none;
    color: #4A314D;
}

a:hover {
    text-decoration: underline;
    color: #95C623;
}

p {
    font-family: Noto Sans;
    line-height: 1.5;
}

.paragraph {
    display: flex;
    justify-content: center;
    margin: 75px;
    padding: 75px;
    border-radius: 40px;
    background-color: #cffaf4;
}

form {
    font-family: Noto Sans;
    font-size: small;
    min-width: 30vw;
    min-height: 30vh;
}

.flex-form {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    border-radius: 30px;
    background-color: #cffaf4;
    padding: 40px;
}

.mandatory {
    color: red;
}

button {
    text-align: center;
    width: 70px;
}

.btn-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

footer {
    text-align: center;
    font-family: Noto Sans;
    font-size: small;
}