@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');


body {
    min-width: 100vw;
    min-height: 100vh;
}

main {
    min-height: 80vh;
}

header {
    text-align: center;
}

.container {
    display: flex;
    gap: 30px;
    justify-content: center;
    margin: 50px;
    padding: 20px;
}

.box {
    width: 100px;
    height: 100px;
}

.box1 {
    background-color: #0E4749;
}

.box2 {
    background-color: #95C623;
}

.box3 {
    background-color: #4A314D;
}

a:link {
    text-decoration: none;
    color: #4A314D;
}

a:hover {
    text-decoration: underline;
    color: #95C623;
}

p {
    font-family: Noto Sans;
    line-height: 1.5;
}

.paragraph {
    display: flex;
    justify-content: center;
    margin: 50px;
    padding: 50px;
    border-radius: 40px;
    background-color: #cffaf4;
}